*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

h1{
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 24px; /* Adjust font size for smaller screens */
}

#box{
    height: 20%; /* Adjust height for smaller screens */
    width: 20%; /* Adjust width for smaller screens */
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px; /* Adjust margin for smaller screens */
    font-size: 24px; /* Adjust font size for smaller screens */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}

.container{
    height: 60vh;
    width: 80vw; /* Adjust width for smaller screens */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items on smaller screens */
    z-index: 2;
}

#button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
}

.bt{
    font-size: large; /* Adjust font size for smaller screens */
    border: 3px solid white;
    cursor: pointer;
    padding: 5px;
    background-color: pink;
    color: black;
    margin-top: 10px; /* Adjust margin for smaller screens */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold; /* Use "bold" instead of "bolder" for better compatibility */
}

p{
    color: white;
    font-size: 24px; /* Adjust font size for smaller screens */
}

.hide{
    display: none;
}

/* Media Query for smartphones */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    #box {
        height: 15%;
        width: 30%;
        font-size: 20px;
    }
    .container {
        width: 90vw;
    }
    .bt {
        font-size: medium;
    }
    p {
        font-size: 20px;
    }
}
