*{
    margin: 0;
    padding: 0;
}

.wrapper{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

h1{
    text-align: center;
    padding: 40px;
    color: white;
}

#box{
    height: 31.33333%;
    width: 31.333333%;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    margin: 2px;
    font-size: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}

.container{
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

#button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    
}

.bt{
    font-size:x-large ;
    border: 5px solid white;
    cursor: pointer;
    padding: 5px;
    background-color: pink;
    color: black;
    margin-inline: 150px;
    margin-top: 30px;
    padding: 10px;
    padding-inline: 30px;
    border-radius: 5px ;
    font:bolder;
}

p{
    color: white;
    font-size: 35px;
    
}

.hide{
    display: none;
}
